﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminMaster.master.cs"
    Inherits="AdminMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin </title>


    <style>
        .bg
        {
            background-color: #c2d7f9;
            color: black;
        }
        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            height: 30px;
        }
        
        li
        {
            float: left;
        }
        
        li a
        {
            display: block;
            color: white;
            text-align: center;
            padding: 5px 10px;
            text-decoration: none;
        }
        
        li a:hover:not(.active)
        {
            background-color: white;
            color: Black;
        }
        
        .active
        {
            background-color: #4CAF50;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div class="bg">
        <table width="100%">
            <tr>
                <td align="center" colspan="2">
                    <h1>
                        <font color="red">Fin</font>tester Admin Panel
                    </h1>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>welcome ,
                        <asp:Label ID="lblUser" runat="server" Text=""></asp:Label></b>
                </td>
                <td align="Right">
                    <asp:Button ID="Button1" runat="server" Text="Logout" OnClick="Button1_Click" />
                </td>
            </tr>
        </table>
        <ul>
            <li><a class="active" href="AdminHome.aspx">Home</a></li>
            <li><a href="AddFaqAdmin.aspx">Add Faq</a></li>
        </ul>
    </div>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
  
</body>
</html>
